/*リンクにホバーさせたとき。*/
.custom-link:hover {
    color: #007bff;
    background-color: lightblue;
}
.custom-three-point:hover {
    background-color: lightgray;
}

.custom-header-link:hover {
    background-color: lightblue;
}

.custom-user-link {
    color: black;
    text-decoration: none;
}

.custom-user-link:hover {
    background-color: lightblue;
    color: black;
}

.custom-icon:hover {
    background-color: lightblue;
}

.custom-cross:hover {
    background-color: lightgray;
}

/*ヘッダーの固定*/
.custom-fixed-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

/*サブヘッダーの有無によって、コンテンツの上部の位置を変更する。*/
.container.without-subheader {
    padding-top: 70px;
}
.container.with-subheader {
    padding-top:120px;
}

/*ゴミ箱に入った記事のオーバーレイ*/
.gray-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    pointer-events: none;
    z-index: 100;
}